o<!DOCTYPE html>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "CSS/JMWStyles.css">
		<title>Website</title>

	</head>
	<body>
		<img id = "logo" src = "Images/logo.png" alt = "logo" href = "JMW.htm"></img>
		<ul id = "menu">
			<li class = "menuItem" id = "button1"><a href = "JMW_Blog.htm">Blog</a></li>
			<li class = "menuItem" id = "button2"><a href = "JMW_Store.htm">Store</a></li>
			<li class = "menuItem" id = "button3"><a href = "JMW.htm">Home</a></li>
		</ul>
		
		<div class = "clearfix"></div>
	</body>
	<script src = "JMW.js"></script>
</html>
